.EOzji {
  background-color: #fff !important;
}

.EOzji .projectName {
  background-size: auto 4.6rem !important;
}

#arabicCSS {
  direction: rtl;
}

#arabicCSS .cqKYWE {
  position: fixed;
  float: left;
  top: 0;
  left: auto;
  right: 0;
  height: 100vh;
  width: 24rem;
  background: #18202e;
}

#arabicCSS .borZef .adminPageRightWrapper {
  width: calc(100% - 24rem);
  margin-right: 24rem;
}

#arabicCSS .bJNhVR {
  right: 24rem;
  left: auto;
}

#arabicCSS .ibkFXD {
  top: 0;
  right: auto;
  left: 0;
}

#arabicCSS .eOTYGC .dropDownContent {
  right: auto !important;
  left: 0 !important;
}

#arabicCSS .eOTYGC > div > button > i,
#arabicCSS .eOTYGC > div > button.btn > i,
#arabicCSS .eOTYGC > div > button > svg,
#arabicCSS .eOTYGC > div > button.btn > svg {
  margin-left: 0px;
  margin-right: 10px;
}

#arabicCSS .bvdbWR {
  margin-right: 400px;
  margin-left: 0px;
}

#arabicCSS .eNLiSK label {
  text-align: right;
}

#arabicCSS .itWoQV {
  padding-left: 0;
  padding-right: 15px;
  text-align: right;
}

#arabicCSS .borZef p, #arabicCSS .borZef span{
  text-align: right;
}

#arabicCSS .WlpHp {
  left: auto;
  right: 0;
}

#arabicCSS .ctRCNa {
  padding-left: 0;
  padding-right: 1.6rem;
}

#arabicCSS .fucdaC {
  left: auto;
  right: 0;
}

#arabicCSS .iwClXr {
  text-align: right;
}

#arabicCSS .bcvdhv{
  padding-right: 0px;
}

#arabicCSS .duZDU a span {
  padding-right: 11px;
  padding-left: 0;
}

#arabicCSS .crMrTS::before {
  right: auto;
  left: 30px;
}

#arabicCSS .hmqpxx .header-title p {
  padding-right: 20px;
}

#arabicCSS .gRMxcP {
  margin-left: 0px;
  margin-right: 10px;
}

#arabicCSS .sc-TtZnY.gnBPmJ > div {
  direction: ltr;
}

#arabicCSS .jMVPzs {
  margin-left: 0px;
  margin-right: 5px;
}

#arabicCSS .jesTdX > svg{
  margin-right: 0px;
  margin-left: 10px;
}

#arabicCSS .dbeGof > svg{
  margin-right: 0px;
  margin-left: 10px;
}

/* #arabicCSS .sc-amiJK.bvMJFo{
  direction: rtl!important;
} */

#arabicCSS .jVXKbk .attributeType{
  margin-right: .5rem;
  margin-left: 1.2rem;
}

#arabicCSS .lkkECO{
  left: auto;
  right: 0;
}

#arabicCSS .iONckA a{
  padding-left: 0px;
  padding-right: 30px;
}

#arabicCSS .gHEtUc {
  text-align: right;
    direction: rtl;
}

#arabicCSS .kZgSIK {
  text-align: right;
}

#arabicCSS .jSTRnN > button:nth-of-type(2) {
  border-right: none;
  border-left: 1px solid #e3e9f3;
}

#arabicCSS .kQdaEX {
  margin-right: 0px;
  margin-left: 10px;
}

#arabicCSS .kjLjHl > div:last-child > div{
  text-align: right;
}

#arabicCSS .fzwxBT .bannerImage {
  margin-right: 0px;
  margin-left: 16px;
}

#arabicCSS .sc-lfRxJW.fzwxBT {
  text-align: right;
}

#arabicCSS .cUtlan .cardTitle > div:first-child {
  margin-right: 0px;
  margin-left: 14px;
}

#arabicCSS .cUtlan .cardTitle i, #arabicCSS .cUtlan .cardTitle svg {
  margin-left: 0px;
  margin-right: 7px;
}

#arabicCSS .cUtlan .wrapper {
  text-align: right;
}

#arabicCSS .KJnIA {
  margin-right: 10px;
}

#arabicCSS .eINlL .list-header h3 {
  text-align: right;
}

#arabicCSS .jUPiq > svg{
  margin-right: 0px;
  margin-left: 7px;
}

#arabicCSS .BdHHF {
  text-align: right;
}

#arabicCSS ul.sc-EZqKI.iONckA {
  padding-right: 0;
}

#arabicCSS .illmTA{
  text-align: right;
}

#arabicCSS .ljWfRO {
  margin-left: 0px;
  margin-right: 5px;
}






/* #arabicCSS .jWVfzI {
    margin-right: 24rem;
    margin-left: 0;
} */
